<div class="message_container" id="message_{{message.id}}">
    <h5 id="message_{{message.id}}_content">{{message}}</h5>
    <p>by {{message.user.username}} - {{message.created}}</p>
    <a href="{% url 'message-rating-page' message.id %}?action=p">+{{message.pluses.all.count}}</a>
    <a href="{% url 'message-rating-page' message.id %}?action=m">-{{message.minuses.all.count}}</a>
    {% if not message.answer_to and request.user.is_authenticated %}
    <button class="answer_button" onclick="set_answer_to({{message.id}})">Answer</button>
    {% endif %}

    <div id="answers_{{message.id}}" style="display: none;">
        {% for message in message.message_set.all %}
        <div class="answer_container">
            {% include 'base/components/message_container.html' %}
        </div>
        {% endfor %}
    </div>
    {% if message.message_set.all %}
    <button class="answer_button" onclick="show_answers({{message.id}})" id="answers_button_show_{{message.id}}">
        Show answers
    </button>
    <button class="answer_button" onclick="hide_answers({{message.id}})" id="answers_button_hide_{{message.id}}" style="display: none;">
        Hide answers
    </button>
    {% endif %}

</div>