:root {
    --navbar-color: #323232;
    --navbar-element-color: #3d3d3d;
    --background-color: #1a1a1a

}

body {
    background: var(--background-color);
}

* {
    color: white;
}

/*  NAVBAR SECTION  */

.navbar {
    overflow: hidden;
    list-style-type: none;
    background: var(--navbar-color);
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.navbar_element {
    float: left;
    background: var(--navbar-element-color);
    margin-left: 3px;

}

.navbar_element:hover {
    background: white;

}

.navbar_element a {
    padding: 4px;
    padding-top: 16px;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
    color: white;
}

.navbar_element:hover a {
    background: white;
    color: var(--navbar-color);
}

.navbar_dropdown {
    float: right;
    background: var(--navbar-element-color);
    padding: 4px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-left: 3px;
}

.navbar_dropdown:hover {
    background: white;

}

.navbar_dropdown > a {
    display: block;
    text-decoration: none;
    color: white;
}

.navbar_dropdown:hover > a {
    background: white;
    color: var(--navbar-color);
}

.dropdown_content {
    right: 9.8%;
    top: 54px;
    background: var(--navbar-element-color);
    position: absolute;
    display: none;
}

.dropdown_content a {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    text-decoration: none;
    color: white;
}

.dropdown_content a:hover {
    background: white;
    color: var(--navbar-color);
}

.navbar_dropdown:hover .dropdown_content {
    display: block;
}


/* ================ */
/* MAIN SECTION */

.main_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 10%;
    padding-right: 10%;
}

.topic_container {
    background: var(--navbar-color);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color: white;
}

.topic_container h1, .topic_container p {
    text-align: center;
}

.topic_container:hover {
    background: var(--navbar-element-color);
}

.room_container {
    background: var(--navbar-color);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color: white;
}

.message_container {
    margin-top: 40px;
}

.message_post_container {
    position: relative;
    padding: 15px;
    left: 10%;
    width: 80%;
    background: var(--navbar-color);
}

.message_post_container textarea {
    display: block;
    background: var(--navbar-element-color);
    border: none;
    margin: auto;
    width: 90%;
}

.message_post_container button {
    display: block;
    background: var(--navbar-element-color);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin: auto;
    width: 20%;
    padding: 10px;
}
