{% extends 'base/main.html' %}

{% block content %}
<div class="main_container">
    <div class="main_container_first">
        <h1>Popular rooms</h1>
        {% include 'base/components/popular_rooms.html' %}
    </div>

    <div class="main_container_second">
        <h1>
            {{room.name}} <a href="{% url 'topic-page' room.topic.id %}">({{room.topic.name}})</a>
            {% if room.is_closed %}
            (Closed)
            {% endif %}
        </h1>

        {% if user == room.host %}
        <a href="{% url 'room-delete-page' room.id %}"><i class="fa-regular fa-trash-can"></i></a>
        <a href="{% url 'room-change-status-page' room.id %}">
            {% if room.is_closed %}
            Open Room
            {% else %}
            Close Room
            {% endif %}
        </a>
        {% endif %}

        {% if total_pages > 1 %}
        <div>
            {% if current_page != 1 %}
                <a href="{% url 'room-page' room.id %}?page=1">
                    <button class="pagination_button">1</button>
                </a>
                <a href="{% url 'room-page' room.id %}?page={{current_page|add:'-1'}}">
                    <button class="pagination_button">-</button>
                </a>
            {% endif %}
            <button class="pagination_button">{{current_page}}</button>
            {% if current_page != total_pages %}
                <a href="{% url 'room-page' room.id %}?page={{current_page|add:'1'}}">
                    <button class="pagination_button">+</button>
                </a>
                <a href="{% url 'room-page' room.id %}?page={{total_pages}}">
                    <button class="pagination_button">{{total_pages}}</button>
                </a>
            {% endif %}
        </div>
        {% endif %}

        {% for message in messages_to_render %}
        {% include 'base/components/message_container.html' %}
        {% endfor %}

        <div class="message_post_container" id="post_container">
            <div id="container_for_answer" style="display: none;">
                <p>You are answering to the message:</p>
                <p id="content_for_answer"></p>
                <button class="answer_button" onclick="clear_answer_to()" id="clear_answer">Cancel</button>
            </div>
            {% if user.is_authenticated and not room.is_closed %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="answer_to" id="answer_to_input"/>
                <textarea name="content" required="required" placeholder="Type your message..."></textarea>
                <button class="message_post_container_button" type="submit">Post</button>
            </form>
            {% elif room.is_closed %}
            <p>The room is closed</p>
            {% else %}
            <p>Only authenticated user can leave messages</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}