{% extends 'base/main.html' %}

{% block content %}
<div class="main_container">
    <div class="main_container_first">
        <h1>Popular rooms</h1>
        {% include 'base/components/popular_rooms.html' %}
    </div>

    <div class="main_container_second">
        <h1>
            {{room.name}} <a href="{% url 'topic-page' room.topic.id %}">({{room.topic.name}})</a>
            {% if room.is_closed %}
            (Closed)
            {% endif %}
        </h1>

        {% if user == room.host %}
        <a href="{% url 'room-delete-page' room.id %}"><i class="fa-regular fa-trash-can"></i></a>
        <a href="{% url 'room-change-status-page' room.id %}">
            {% if room.is_closed %}
            Open Room
            {% else %}
            Close Room
            {% endif %}
        </a>
        {% endif %}

        {% for message in room.message_set.all %}
        {% include 'base/components/message_container.html' %}
        {% endfor %}

        <div class="message_post_container">
            {% if user.is_authenticated and not room.is_closed %}
            <form action="" method="POST">
                {% csrf_token %}
                <textarea name="content" required="required" placeholder="Type your message..."></textarea>
                <button type="submit">Post</button>
            </form>
            {% elif room.is_closed %}
            <p>The room is closed</p>
            {% else %}
            <p>Only authenticated user can leave messages</p>
            {% endif %}
        </div>
    </div>

</div>
{% if scroll_to_element %}
<script>
    location.hash = {{scroll_to_element}};
</script>
{% endif %}
{% endblock %}